
a { text-decoration: none;}

.song-container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}
.song-details {
    box-shadow: 2px 3px 7px 0px #ccc;
    border-radius: 10px;
    flex: 1 0 21%;
    margin: 15px;
    height: auto;
}
.song-image {
    width: 100%;
    height:200px;
    border-radius: 10px 10px 0 0;
}
.text-container {
    padding: 15px;
}
.text {
    margin:0 5px;   
    text-decoration: none;
    color: #000;
}
.song-name {
    font-weight: 600;
}